.app-container{
  min-height: 100vh;
  padding: 20px;
  transition: 0.3s;
}
.light{
  background-color: #ffff;
  color: #0000;
}
.dark{
  background-color: #121212;
  color: #ffff;
}
.post-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 20px;
}
.post-card{
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
}
.dark .post-card{
  border-color: #444;
  background-color: #1e1e1e;
}